# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Admin do
  @moduledoc """
  API calls for all endpoints tagged `Admin`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.MirrorTriggerResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec trigger_mirror(Tesla.Env.client, keyword()) :: {:ok, SimpleBillyAPI.Model.PluginError.t} | {:ok, SimpleBillyAPI.Model.MirrorTriggerResponse.t} | {:error, Tesla.Env.t}
  def trigger_mirror(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/v1/admin/storage/mirror")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.MirrorTriggerResponse},
      {403, SimpleBillyAPI.Model.PluginError}
    ])
  end
end
