# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Auth do
  @moduledoc """
  API calls for all endpoints tagged `Auth`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """
  Accept an invite: create the account (or reuse an existing one) and join the inviting tenant. The invite token proves control of the mailbox.

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `accept_invite_request` (AcceptInviteRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec accept_invite(Tesla.Env.client, SimpleBillyAPI.Model.AcceptInviteRequest.t, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def accept_invite(connection, accept_invite_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/auth/accept-invite")
      |> add_param(:body, :body, accept_invite_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {400, false},
      {401, false}
    ])
  end

  @doc """
  Send a password reset email to the user

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `forgot_password_request` (ForgotPasswordRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec forgot_password(Tesla.Env.client, SimpleBillyAPI.Model.ForgotPasswordRequest.t, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def forgot_password(connection, forgot_password_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/auth/forgot-password")
      |> add_param(:body, :body, forgot_password_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {404, false}
    ])
  end

  @doc """
  Authenticate a user with email + password (optional TOTP)

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `login_request` (LoginRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.AuthResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec login(Tesla.Env.client, SimpleBillyAPI.Model.LoginRequest.t, keyword()) :: {:ok, nil} | {:ok, SimpleBillyAPI.Model.AuthResponse.t} | {:error, Tesla.Env.t}
  def login(connection, login_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/auth/login")
      |> add_param(:body, :body, login_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.AuthResponse},
      {401, false}
    ])
  end

  @doc """
  Log out the current user (kills the assay session)

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec logout(Tesla.Env.client, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def logout(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/auth/logout")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false}
    ])
  end

  @doc """
  Request a magic link login (sends an email with a one-time link)

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `magic_link_request` (MagicLinkRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec magic_link_login(Tesla.Env.client, SimpleBillyAPI.Model.MagicLinkRequest.t, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def magic_link_login(connection, magic_link_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/auth/magic-link")
      |> add_param(:body, :body, magic_link_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {404, false}
    ])
  end

  @doc """
  Verify a magic link token and log the user in

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `magic_link_verify_request` (MagicLinkVerifyRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.AuthResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec magic_link_verify(Tesla.Env.client, SimpleBillyAPI.Model.MagicLinkVerifyRequest.t, keyword()) :: {:ok, nil} | {:ok, SimpleBillyAPI.Model.AuthResponse.t} | {:error, Tesla.Env.t}
  def magic_link_verify(connection, magic_link_verify_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/auth/magic-link/verify")
      |> add_param(:body, :body, magic_link_verify_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.AuthResponse},
      {401, false}
    ])
  end

  @doc """
  Register a new user account

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `register_request` (RegisterRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.AuthResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec register(Tesla.Env.client, SimpleBillyAPI.Model.RegisterRequest.t, keyword()) :: {:ok, nil} | {:ok, SimpleBillyAPI.Model.AuthResponse.t} | {:error, Tesla.Env.t}
  def register(connection, register_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/auth/register")
      |> add_param(:body, :body, register_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.AuthResponse},
      {409, false}
    ])
  end

  @doc """
  Reset the user's password using a reset token

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `reset_password_request` (ResetPasswordRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec reset_password(Tesla.Env.client, SimpleBillyAPI.Model.ResetPasswordRequest.t, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def reset_password(connection, reset_password_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/auth/reset-password")
      |> add_param(:body, :body, reset_password_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, false}
    ])
  end

  @doc """
  Enable TOTP two-factor authentication by verifying a code

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `totp_enable_request` (TotpEnableRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec totp_enable(Tesla.Env.client, SimpleBillyAPI.Model.TotpEnableRequest.t, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def totp_enable(connection, totp_enable_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/auth/totp/enable")
      |> add_param(:body, :body, totp_enable_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, false}
    ])
  end

  @doc """
  Set up TOTP two-factor authentication (generates secret + backup codes)

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.TotpSetupResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec totp_setup(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, SimpleBillyAPI.Model.TotpSetupResponse.t} | {:error, Tesla.Env.t}
  def totp_setup(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/auth/totp/setup")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.TotpSetupResponse},
      {409, false}
    ])
  end

  @doc """
  Verify a user's email address using a verification token

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `verify_email_request` (VerifyEmailRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec verify_email(Tesla.Env.client, SimpleBillyAPI.Model.VerifyEmailRequest.t, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def verify_email(connection, verify_email_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/auth/verify-email")
      |> add_param(:body, :body, verify_email_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, false}
    ])
  end
end
