# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Billing do
  @moduledoc """
  API calls for all endpoints tagged `Billing`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """
  All canonical plans (free/starter/business/enterprise) — the single source of truth lives in `crate::saasy::plans`, matching marketing.

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.ApiResponseVecPlan.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_plans(Tesla.Env.client, keyword()) :: {:ok, SimpleBillyAPI.Model.ApiResponseVecPlan.t} | {:error, Tesla.Env.t}
  def get_plans(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/plans")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.ApiResponseVecPlan}
    ])
  end

  @doc """
  Effective limits + current usage for the calling tenant.

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_quota_api(Tesla.Env.client, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def get_quota_api(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/quota")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {404, false}
    ])
  end

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.ApiResponseSubscriptionOverview.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_subscription_api(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, SimpleBillyAPI.Model.ApiResponseSubscriptionOverview.t} | {:error, Tesla.Env.t}
  def get_subscription_api(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/subscription")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.ApiResponseSubscriptionOverview},
      {404, false}
    ])
  end

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:meter` (String.t): 

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_usage_api(Tesla.Env.client, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def get_usage_api(connection, opts \\ []) do
    optional_params = %{
      :meter => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v1/usage")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false}
    ])
  end

  @doc """
  Paddle Billing subscription webhook. Verifies the `Paddle-Signature` header (HMAC-SHA256 over `\"{ts}:{raw_body}\"` with the webhook secret), then updates `billing_info` and `tenants.plan` for the tenant identified by the subscription `custom_data` (JSON `{\"tenant_id\": \"...\"}` or a bare tenant UUID).

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec paddle_subscription_webhook(Tesla.Env.client, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def paddle_subscription_webhook(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/webhooks/paddle/subscription")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, false}
    ])
  end

  @doc """
  Write the per-tenant quota override (`admin:settings`). An empty object clears the override.

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `quota_override` (QuotaOverride): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec put_quota_api(Tesla.Env.client, SimpleBillyAPI.Model.QuotaOverride.t, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def put_quota_api(connection, quota_override, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/v1/quota")
      |> add_param(:body, :body, quota_override)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {403, false},
      {404, false}
    ])
  end
end
