# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Budgets do
  @moduledoc """
  API calls for all endpoints tagged `Budgets`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `year` (integer()): 
  - `month` (integer()): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.BudgetErgebnis.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec budgets_api(Tesla.Env.client, integer(), integer(), keyword()) :: {:ok, SimpleBillyAPI.Model.BudgetErgebnis.t} | {:error, Tesla.Env.t}
  def budgets_api(connection, year, month, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/budgets")
      |> add_param(:query, :year, year)
      |> add_param(:query, :month, month)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.BudgetErgebnis}
    ])
  end

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `category` (String.t): 
  - `budget_goal_request` (BudgetGoalRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.Budget.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec upsert_budget_goal_api(Tesla.Env.client, String.t, SimpleBillyAPI.Model.BudgetGoalRequest.t, keyword()) :: {:ok, SimpleBillyAPI.Model.PluginError.t} | {:ok, SimpleBillyAPI.Model.Budget.t} | {:error, Tesla.Env.t}
  def upsert_budget_goal_api(connection, category, budget_goal_request, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/v1/bookkeeping/budgets/goals/#{category}")
      |> add_param(:body, :body, budget_goal_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.Budget},
      {400, SimpleBillyAPI.Model.PluginError}
    ])
  end
end
