# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.CreateSepaDirectDebit do
  @moduledoc """
  API calls for all endpoints tagged `CreateSepaDirectDebit`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `creditor_name` (String.t): 
  - `creditor_iban` (String.t): 
  - `creditor_id` (String.t): 
  - `mandate_id` (String.t): 
  - `mandate_date` (String.t): 
  - `debtor_name` (String.t): 
  - `debtor_iban` (String.t): 
  - `amount` (String.t): 
  - `collection_date` (String.t): 
  - `opts` (keyword): Optional parameters
    - `:creditor_bic` (String.t): 
    - `:debtor_bic` (String.t): 
    - `:description` (String.t): 

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.SepaDirectDebitResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_sepa_direct_debit_api(Tesla.Env.client, String.t, String.t, String.t, String.t, String.t, String.t, String.t, String.t, String.t, keyword()) :: {:ok, SimpleBillyAPI.Model.SepaDirectDebitResponse.t} | {:ok, nil} | {:error, Tesla.Env.t}
  def create_sepa_direct_debit_api(connection, creditor_name, creditor_iban, creditor_id, mandate_id, mandate_date, debtor_name, debtor_iban, amount, collection_date, opts \\ []) do
    optional_params = %{
      :creditor_bic => :query,
      :debtor_bic => :query,
      :description => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/api/v1/bookkeeping/sepa-direct-debit")
      |> add_param(:query, :creditor_name, creditor_name)
      |> add_param(:query, :creditor_iban, creditor_iban)
      |> add_param(:query, :creditor_id, creditor_id)
      |> add_param(:query, :mandate_id, mandate_id)
      |> add_param(:query, :mandate_date, mandate_date)
      |> add_param(:query, :debtor_name, debtor_name)
      |> add_param(:query, :debtor_iban, debtor_iban)
      |> add_param(:query, :amount, amount)
      |> add_param(:query, :collection_date, collection_date)
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.SepaDirectDebitResponse},
      {500, false}
    ])
  end
end
