# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.DatevImport do
  @moduledoc """
  API calls for all endpoints tagged `DatevImport`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `body` (any()): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.DatevImportResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec datev_import_api(Tesla.Env.client, any(), keyword()) :: {:ok, SimpleBillyAPI.Model.DatevImportResponse.t} | {:error, Tesla.Env.t}
  def datev_import_api(connection, body, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/v1/bookkeeping/datev/import")
      |> add_param(:body, :body, body)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.DatevImportResponse}
    ])
  end
end
