# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Datev do
  @moduledoc """
  API calls for all endpoints tagged `Datev`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """
  Export bookkeeping data as DATEV CSV

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:account_schema` (String.t): 
    - `:date_from` (String.t): 
    - `:date_to` (String.t): 
    - `:page` (integer()): 
    - `:page_size` (integer()): 

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.DatevExportResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec datev_export_api(Tesla.Env.client, keyword()) :: {:ok, SimpleBillyAPI.Model.DatevExportResponse.t} | {:error, Tesla.Env.t}
  def datev_export_api(connection, opts \\ []) do
    optional_params = %{
      :account_schema => :query,
      :date_from => :query,
      :date_to => :query,
      :page => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/datev/export")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.DatevExportResponse}
    ])
  end

  @doc """
  Exported_datev_bookings: returns formed bookings for review

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:account_schema` (String.t): 
    - `:date_from` (String.t): 
    - `:date_to` (String.t): 
    - `:page` (integer()): 
    - `:page_size` (integer()): 

  ### Returns

  - `{:ok, [%DatevBookingPreview{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec datev_preview_api(Tesla.Env.client, keyword()) :: {:ok, [SimpleBillyAPI.Model.DatevBookingPreview.t]} | {:error, Tesla.Env.t}
  def datev_preview_api(connection, opts \\ []) do
    optional_params = %{
      :account_schema => :query,
      :date_from => :query,
      :date_to => :query,
      :page => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/datev/preview")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.DatevBookingPreview}
    ])
  end
end
