# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Ebilanz do
  @moduledoc """
  API calls for all endpoints tagged `Ebilanz`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:year` (integer()): 
    - `:date_from` (String.t): 
    - `:date_to` (String.t): 

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.EBilanzReport.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec ebilanz_report_api(Tesla.Env.client, keyword()) :: {:ok, SimpleBillyAPI.Model.EBilanzReport.t} | {:error, Tesla.Env.t}
  def ebilanz_report_api(connection, opts \\ []) do
    optional_params = %{
      :year => :query,
      :date_from => :query,
      :date_to => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/ebilanz")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.EBilanzReport}
    ])
  end

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:year` (integer()): 
    - `:date_from` (String.t): 
    - `:date_to` (String.t): 

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec ebilanz_xbrl_export_api(Tesla.Env.client, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def ebilanz_xbrl_export_api(connection, opts \\ []) do
    optional_params = %{
      :year => :query,
      :date_from => :query,
      :date_to => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/ebilanz/xbrl")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false}
    ])
  end
end
