# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Euer do
  @moduledoc """
  API calls for all endpoints tagged `Euer`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `year` (integer()): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.EuerErgebnis.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec euer_api(Tesla.Env.client, integer(), keyword()) :: {:ok, SimpleBillyAPI.Model.EuerErgebnis.t} | {:error, Tesla.Env.t}
  def euer_api(connection, year, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/euer")
      |> add_param(:query, :year, year)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.EuerErgebnis}
    ])
  end

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `year` (integer()): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.EuerDetailErgebnis.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec euer_kategorien_api(Tesla.Env.client, integer(), keyword()) :: {:ok, SimpleBillyAPI.Model.EuerDetailErgebnis.t} | {:error, Tesla.Env.t}
  def euer_kategorien_api(connection, year, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/euer/kategorien")
      |> add_param(:query, :year, year)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.EuerDetailErgebnis}
    ])
  end
end
