# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Fristen do
  @moduledoc """
  API calls for all endpoints tagged `Fristen`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:bundesland` (String.t): 
    - `:voranmeldungsrhythmus` (String.t): 
    - `:dauerfristverlaengerung` (boolean()): 
    - `:est_aktiv` (boolean()): 
    - `:gewst_aktiv` (boolean()): 
    - `:monate` (integer()): 

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.FristenErgebnis.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec fristen_api(Tesla.Env.client, keyword()) :: {:ok, SimpleBillyAPI.Model.FristenErgebnis.t} | {:error, Tesla.Env.t}
  def fristen_api(connection, opts \\ []) do
    optional_params = %{
      :bundesland => :query,
      :voranmeldungsrhythmus => :query,
      :dauerfristverlaengerung => :query,
      :est_aktiv => :query,
      :gewst_aktiv => :query,
      :monate => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/fristen")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.FristenErgebnis}
    ])
  end
end
