# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Gdpr do
  @moduledoc """
  API calls for all endpoints tagged `Gdpr`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """
  Record DPA acceptance: sets dpa_accepted_at/by/version on the tenant settings row (created with company-type defaults if missing).

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `dpa_accept_request` (DpaAcceptRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.DpaStatus.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec accept_dpa(Tesla.Env.client, SimpleBillyAPI.Model.DpaAcceptRequest.t, keyword()) :: {:ok, SimpleBillyAPI.Model.DpaStatus.t} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def accept_dpa(connection, dpa_accept_request, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/v1/gdpr/dpa")
      |> add_param(:body, :body, dpa_accept_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.DpaStatus},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end

  @doc """
  Erase ALL personal data of the tenant (TOS §11: deletion 90 days after termination).
  Anonymizes every contact, anonymizes personal fields on bookkeeping records (orders/invoices/payments keep amounts and dates for GoBD), removes the tenant linkage of the (global, saasy-framework) users and marks the erasure on `tenant_settings.gdpr_erased_at`. No row is physically deleted. The audit triggers on the touched tables record who/when.

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, any()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec account_erasure(Tesla.Env.client, keyword()) :: {:ok, any()} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def account_erasure(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/v1/gdpr/account-erasure")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end

  @doc """
  Anonymize + soft-delete a contact: personal attributes are cleared, the record itself is kept for GoBD retention (Art. 17(3)(e) DSGVO). The audit trigger on `contacts` already records who/when.

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `contact_id` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, any()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec erasure_contact(Tesla.Env.client, String.t, keyword()) :: {:ok, any()} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def erasure_contact(connection, contact_id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/v1/gdpr/erasure/#{contact_id}")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {404, SimpleBillyAPI.Model.PluginError}
    ])
  end

  @doc """
  Art. 15 data-subject access export for a contact.
  Returns the contact itself plus the tenant-scoped rows linked to it.  ## Relations The `customers`/`orders`/`invoices`/`payments` tables have no FK to `contacts`; they are linked through the `customer_id` column, which per the app's conventions holds one of: - the admin customer's `customer_id` (a UUID, often the same value as   the contact's `contact_id`/`customer_number`), - the buyer's email for shop orders, or - the marketplace's external customer id for plugin orders.  The export therefore matches the contact's identifiers (`contact_id`, `customer_number`, `external_id`, `email`) plus any resolved customer ids against `customer_id`. `delivery_notes` and `customer_communications` reference contacts directly via `contact_id`. Soft-deleted rows are included (their data is still processed and retained for GoBD). Relations that genuinely do not exist for a contact stay empty but the key is always present.

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `contact_id` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, any()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec export_contact_data(Tesla.Env.client, String.t, keyword()) :: {:ok, any()} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def export_contact_data(connection, contact_id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/gdpr/export/#{contact_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {404, SimpleBillyAPI.Model.PluginError}
    ])
  end

  @doc """
  Export the current user's personal data (GDPR Art. 15/20).
  No admin permission required: a user always exports their own data.

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.ApiResponseGdprExport.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec export_gdpr(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, SimpleBillyAPI.Model.ApiResponseGdprExport.t} | {:error, Tesla.Env.t}
  def export_gdpr(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/gdpr/export")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.ApiResponseGdprExport},
      {404, false}
    ])
  end

  @doc """
  Current DPA acceptance status (from tenant_settings).

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.DpaStatus.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_dpa(Tesla.Env.client, keyword()) :: {:ok, SimpleBillyAPI.Model.DpaStatus.t} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def get_dpa(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/gdpr/dpa")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.DpaStatus},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end
end
