# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Gewerbesteuer do
  @moduledoc """
  API calls for all endpoints tagged `Gewerbesteuer`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `year` (integer()): 
  - `opts` (keyword): Optional parameters
    - `:hebesatz` (String.t): 
    - `:gewerbeertrag` (String.t): 
    - `:country` (String.t): 
    - `:gemeindeschluessel` (String.t): 

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.GewerbesteuerErgebnis.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gewerbesteuer_api(Tesla.Env.client, integer(), keyword()) :: {:ok, SimpleBillyAPI.Model.GewerbesteuerErgebnis.t} | {:error, Tesla.Env.t}
  def gewerbesteuer_api(connection, year, opts \\ []) do
    optional_params = %{
      :hebesatz => :query,
      :gewerbeertrag => :query,
      :country => :query,
      :gemeindeschluessel => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/gewerbesteuer")
      |> add_param(:query, :year, year)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.GewerbesteuerErgebnis}
    ])
  end
end
