# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Gez do
  @moduledoc """
  API calls for all endpoints tagged `Gez`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:jahr` (integer()): 
    - `:betriebsstaetten` (String.t): Liste der Betriebsstätten als JSON, z.B. `[{\"name\":\"Filiale 1\",\"beschaefigte\":12}]`.
    - `:kfz` (integer()): Gesamtzahl der betrieblich genutzten Kfz (falls keine Betriebsstätten angegeben sind).
    - `:hotelzimmer` (integer()): Gesamtzahl der Hotel-/Gästezimmer und Ferienwohnungen.
    - `:beschaefigte` (integer()): Gesamtzahl der Beschäftigten (verwendet nur, wenn `betriebsstaetten` fehlt; dann wird eine einzelne Betriebsstätte angenommen).

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.GezReport.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gez_api(Tesla.Env.client, keyword()) :: {:ok, SimpleBillyAPI.Model.GezReport.t} | {:error, Tesla.Env.t}
  def gez_api(connection, opts \\ []) do
    optional_params = %{
      :jahr => :query,
      :betriebsstaetten => :query,
      :kfz => :query,
      :hotelzimmer => :query,
      :beschaefigte => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/gez")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.GezReport}
    ])
  end
end
