# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.GobdExport do
  @moduledoc """
  API calls for all endpoints tagged `GobdExport`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `date_from` (String.t): 
  - `date_to` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.GoBdExportResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec buchhalter_csv_api(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, SimpleBillyAPI.Model.GoBdExportResponse.t} | {:error, Tesla.Env.t}
  def buchhalter_csv_api(connection, date_from, date_to, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/buchhalter-csv")
      |> add_param(:query, :date_from, date_from)
      |> add_param(:query, :date_to, date_to)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.GoBdExportResponse}
    ])
  end

  @doc """
  GoBD/GDPdU export. Default: ZIP archive (`index.xml` + CSV tables, IDEA format). `?format=csv` returns the legacy single-journal CSV as JSON.

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `year` (integer()): 
  - `opts` (keyword): Optional parameters
    - `:format` (String.t): Export format: `zip` (default, full GDPdU/IDEA export) or `csv` (legacy single-journal CSV as JSON).

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gobd_export_api(Tesla.Env.client, integer(), keyword()) :: {:ok, nil} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def gobd_export_api(connection, year, opts \\ []) do
    optional_params = %{
      :format => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/gobd")
      |> add_param(:query, :year, year)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {400, SimpleBillyAPI.Model.PluginError},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end
end
