# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.InstituteProfile do
  @moduledoc """
  API calls for all endpoints tagged `InstituteProfile`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """
  Current institute profile (created with defaults when missing).

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.InstituteProfile.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_institute_profile(Tesla.Env.client, keyword()) :: {:ok, SimpleBillyAPI.Model.InstituteProfile.t} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def get_institute_profile(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/institute-profile")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.InstituteProfile},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end

  @doc """
  Update the institute profile (institute_type and/or kapitalmarktorientiert).

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `institute_profile_update` (InstituteProfileUpdate): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.InstituteProfile.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_institute_profile(Tesla.Env.client, SimpleBillyAPI.Model.InstituteProfileUpdate.t, keyword()) :: {:ok, SimpleBillyAPI.Model.InstituteProfile.t} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def update_institute_profile(connection, institute_profile_update, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/v1/institute-profile")
      |> add_param(:body, :body, institute_profile_update)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.InstituteProfile},
      {400, SimpleBillyAPI.Model.PluginError},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end
end
