# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Institute do
  @moduledoc """
  API calls for all endpoints tagged `Institute`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.InstituteStatus.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec institute_status_api(Tesla.Env.client, keyword()) :: {:ok, SimpleBillyAPI.Model.InstituteStatus.t} | {:error, Tesla.Env.t}
  def institute_status_api(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/institute/status")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.InstituteStatus}
    ])
  end
end
