# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.InventoryValue do
  @moduledoc """
  API calls for all endpoints tagged `InventoryValue`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.CurrentInventoryValue.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_inventory_value_api(Tesla.Env.client, keyword()) :: {:ok, SimpleBillyAPI.Model.CurrentInventoryValue.t} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def get_inventory_value_api(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/inventory-value")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.CurrentInventoryValue},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.InventoryValuePoint.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec record_inventory_value_api(Tesla.Env.client, keyword()) :: {:ok, SimpleBillyAPI.Model.InventoryValuePoint.t} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def record_inventory_value_api(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/v1/bookkeeping/inventory-value/record")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.InventoryValuePoint},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end
end
