# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Konzern do
  @moduledoc """
  API calls for all endpoints tagged `Konzern`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `year` (integer()): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.KonzernExportResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec konzern_export_api(Tesla.Env.client, integer(), keyword()) :: {:ok, SimpleBillyAPI.Model.KonzernExportResponse.t} | {:error, Tesla.Env.t}
  def konzern_export_api(connection, year, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/konzern/status/export")
      |> add_param(:query, :year, year)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.KonzernExportResponse}
    ])
  end

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `year` (integer()): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.KonzernStatus.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec konzern_status_api(Tesla.Env.client, integer(), keyword()) :: {:ok, SimpleBillyAPI.Model.KonzernStatus.t} | {:error, Tesla.Env.t}
  def konzern_status_api(connection, year, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/konzern/status")
      |> add_param(:query, :year, year)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.KonzernStatus}
    ])
  end
end
