# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.KostenVorschau do
  @moduledoc """
  API calls for all endpoints tagged `KostenVorschau`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `year` (integer()): 
  - `month` (integer()): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.KostenVorschau.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec kosten_vorschau_api(Tesla.Env.client, integer(), integer(), keyword()) :: {:ok, SimpleBillyAPI.Model.KostenVorschau.t} | {:error, Tesla.Env.t}
  def kosten_vorschau_api(connection, year, month, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/kosten-vorschau")
      |> add_param(:query, :year, year)
      |> add_param(:query, :month, month)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.KostenVorschau}
    ])
  end
end
