# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Kst do
  @moduledoc """
  API calls for all endpoints tagged `Kst`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `year` (integer()): 
  - `opts` (keyword): Optional parameters
    - `:gewinn` (String.t): 

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.KstErgebnis.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec kst_api(Tesla.Env.client, integer(), keyword()) :: {:ok, SimpleBillyAPI.Model.KstErgebnis.t} | {:error, Tesla.Env.t}
  def kst_api(connection, year, opts \\ []) do
    optional_params = %{
      :gewinn => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/kst")
      |> add_param(:query, :year, year)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.KstErgebnis}
    ])
  end
end
