# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Lead do
  @moduledoc """
  API calls for all endpoints tagged `Lead`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:status` (String.t): 
    - `:source` (String.t): 
    - `:search` (String.t): 
    - `:page` (integer()): 
    - `:page_size` (integer()): 

  ### Returns

  - `{:ok, [%Lead{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_leads_api(Tesla.Env.client, keyword()) :: {:ok, [SimpleBillyAPI.Model.Lead.t]} | {:error, Tesla.Env.t}
  def list_leads_api(connection, opts \\ []) do
    optional_params = %{
      :status => :query,
      :source => :query,
      :search => :query,
      :page => :query,
      :page_size => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v1/support/leads")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.Lead}
    ])
  end

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `lead_id` (String.t): 
  - `lead_update` (LeadUpdate): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.Lead.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_lead_api(Tesla.Env.client, String.t, SimpleBillyAPI.Model.LeadUpdate.t, keyword()) :: {:ok, SimpleBillyAPI.Model.Lead.t} | {:error, Tesla.Env.t}
  def update_lead_api(connection, lead_id, lead_update, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/v1/support/leads/#{lead_id}")
      |> add_param(:body, :body, lead_update)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.Lead}
    ])
  end
end
