# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.LegalDocument do
  @moduledoc """
  API calls for all endpoints tagged `LegalDocument`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """
  List all legal documents of the tenant. Missing documents are seeded from the default texts (with tenant placeholders replaced) on first access.

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%LegalDocument{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_legal_documents(Tesla.Env.client, keyword()) :: {:ok, SimpleBillyAPI.Model.PluginError.t} | {:ok, [SimpleBillyAPI.Model.LegalDocument.t]} | {:error, Tesla.Env.t}
  def get_legal_documents(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/legal/documents")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.LegalDocument},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end

  @doc """
  Restore default texts for all documents (or a single doc_type/lang when the optional filter is given). Returns the full tenant list.

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `legal_document_reset` (LegalDocumentReset): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%LegalDocument{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec reset_legal_documents(Tesla.Env.client, SimpleBillyAPI.Model.LegalDocumentReset.t, keyword()) :: {:ok, SimpleBillyAPI.Model.PluginError.t} | {:ok, [SimpleBillyAPI.Model.LegalDocument.t]} | {:error, Tesla.Env.t}
  def reset_legal_documents(connection, legal_document_reset, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/v1/legal/documents/reset")
      |> add_param(:body, :body, legal_document_reset)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.LegalDocument},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end

  @doc """
  Upsert legal documents per (doc_type, lang). Returns the full tenant list.

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `legal_document_upsert` ([SimpleBillyAPI.Model.LegalDocumentUpsert.t]): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%LegalDocument{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec upsert_legal_documents(Tesla.Env.client, list(SimpleBillyAPI.Model.LegalDocumentUpsert.t), keyword()) :: {:ok, SimpleBillyAPI.Model.PluginError.t} | {:ok, [SimpleBillyAPI.Model.LegalDocument.t]} | {:error, Tesla.Env.t}
  def upsert_legal_documents(connection, legal_document_upsert, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/v1/legal/documents")
      |> add_param(:body, :body, legal_document_upsert)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.LegalDocument},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end
end
