# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.ListOpenItems do
  @moduledoc """
  API calls for all endpoints tagged `ListOpenItems`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:reminder_level1_days` (integer()): 
    - `:reminder_level2_days` (integer()): 
    - `:reminder_level3_days` (integer()): 
    - `:customer_id` (String.t): 

  ### Returns

  - `{:ok, [%OpenItem{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_open_items_api(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, [SimpleBillyAPI.Model.OpenItem.t]} | {:error, Tesla.Env.t}
  def list_open_items_api(connection, opts \\ []) do
    optional_params = %{
      :reminder_level1_days => :query,
      :reminder_level2_days => :query,
      :reminder_level3_days => :query,
      :customer_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/open-items")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.OpenItem},
      {500, false}
    ])
  end
end
