# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.PaymentCondition do
  @moduledoc """
  API calls for all endpoints tagged `PaymentCondition`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%PaymentCondition{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_payment_conditions_api(Tesla.Env.client, keyword()) :: {:ok, [SimpleBillyAPI.Model.PaymentCondition.t]} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def list_payment_conditions_api(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/payment-conditions")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.PaymentCondition},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end
end
