# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Plausibility do
  @moduledoc """
  API calls for all endpoints tagged `Plausibility`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:date_from` (String.t): 
    - `:date_to` (String.t): 

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.PlausibilityReport.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec plausibility_check_api(Tesla.Env.client, keyword()) :: {:ok, SimpleBillyAPI.Model.PlausibilityReport.t} | {:error, Tesla.Env.t}
  def plausibility_check_api(connection, opts \\ []) do
    optional_params = %{
      :date_from => :query,
      :date_to => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/plausibility")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.PlausibilityReport}
    ])
  end
end
