# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.ProposeAssignments do
  @moduledoc """
  API calls for all endpoints tagged `ProposeAssignments`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:min_confidence` (float()): 
    - `:customer_id` (String.t): 

  ### Returns

  - `{:ok, [%ProposedAssignment{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec propose_assignments_api(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, [SimpleBillyAPI.Model.ProposedAssignment.t]} | {:error, Tesla.Env.t}
  def propose_assignments_api(connection, opts \\ []) do
    optional_params = %{
      :min_confidence => :query,
      :customer_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/propose-assignments")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.ProposedAssignment},
      {500, false}
    ])
  end
end
