# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.PublicReturns do
  @moduledoc """
  API calls for all endpoints tagged `PublicReturns`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """
  Customer checks the status of a return (public, no auth). The return is only revealed when its linked order's email matches.

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `email` (String.t): 
  - `opts` (keyword): Optional parameters
    - `:returnNumber` (String.t): Either return_number or return_order_id must be provided.
    - `:returnOrderId` (String.t): 
    - `:orderNumber` (String.t): 

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.PublicReturnStatusResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_public_return_status(Tesla.Env.client, String.t, keyword()) :: {:ok, SimpleBillyAPI.Model.PluginError.t} | {:ok, SimpleBillyAPI.Model.PublicReturnStatusResponse.t} | {:error, Tesla.Env.t}
  def get_public_return_status(connection, email, opts \\ []) do
    optional_params = %{
      :returnNumber => :query,
      :returnOrderId => :query,
      :orderNumber => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v1/public/returns/status")
      |> add_param(:query, :email, email)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.PublicReturnStatusResponse},
      {400, SimpleBillyAPI.Model.PluginError},
      {404, SimpleBillyAPI.Model.PluginError},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end

  @doc """
  List all returns for an order (public, no auth).

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `order_number` (String.t): 
  - `email` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%PublicReturnStatusResponse{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_public_returns(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, [SimpleBillyAPI.Model.PublicReturnStatusResponse.t]} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def list_public_returns(connection, order_number, email, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/public/returns/list")
      |> add_param(:query, :orderNumber, order_number)
      |> add_param(:query, :email, email)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.PublicReturnStatusResponse},
      {404, SimpleBillyAPI.Model.PluginError},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end

  @doc """
  Customer requests a return for an order (public, no auth).

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `public_return_request` (PublicReturnRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.PublicReturnResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec request_public_return(Tesla.Env.client, SimpleBillyAPI.Model.PublicReturnRequest.t, keyword()) :: {:ok, SimpleBillyAPI.Model.PluginError.t} | {:ok, SimpleBillyAPI.Model.PublicReturnResponse.t} | {:error, Tesla.Env.t}
  def request_public_return(connection, public_return_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/v1/public/returns/request")
      |> add_param(:body, :body, public_return_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {201, SimpleBillyAPI.Model.PublicReturnResponse},
      {400, SimpleBillyAPI.Model.PluginError},
      {404, SimpleBillyAPI.Model.PluginError},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end
end
