# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.ReorderProposal do
  @moduledoc """
  API calls for all endpoints tagged `ReorderProposal`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """
  Convert a reorder proposal into a draft purchase order.
  Returns the created purchase order id. Suggested line items are generated with the current reorder quantity per product.

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:configuredOnly` (boolean()): Only include products with a reorder point configured (`min_stock`).
    - `:warehouseId` (String.t): Limit to a single warehouse id.

  ### Returns

  - `{:ok, any()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec apply_reorder_proposal(Tesla.Env.client, keyword()) :: {:ok, any()} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def apply_reorder_proposal(connection, opts \\ []) do
    optional_params = %{
      :configuredOnly => :query,
      :warehouseId => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/api/v1/reorder-proposals/apply")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {201, false},
      {400, SimpleBillyAPI.Model.PluginError},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:configuredOnly` (boolean()): Only include products with a reorder point configured (`min_stock`).
    - `:warehouseId` (String.t): Limit to a single warehouse id.

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.ReorderProposalResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_reorder_proposal(Tesla.Env.client, keyword()) :: {:ok, SimpleBillyAPI.Model.ReorderProposalResponse.t} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def get_reorder_proposal(connection, opts \\ []) do
    optional_params = %{
      :configuredOnly => :query,
      :warehouseId => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v1/reorder-proposals")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.ReorderProposalResponse},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end
end
