# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Replenishment do
  @moduledoc """
  API calls for all endpoints tagged `Replenishment`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """
  Create one draft stock transfer per (source → target) pair carrying all suggested product lines for that pair.

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:targetWarehouseId` (String.t): Warehouse to be replenished. Defaults to the tenant's default warehouse.
    - `:sourceWarehouseId` (String.t): Restrict source warehouses to this id.

  ### Returns

  - `{:ok, any()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec apply_replenishments(Tesla.Env.client, keyword()) :: {:ok, any()} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def apply_replenishments(connection, opts \\ []) do
    optional_params = %{
      :targetWarehouseId => :query,
      :sourceWarehouseId => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/api/v1/replenishments/apply")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {201, false},
      {400, SimpleBillyAPI.Model.PluginError},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:targetWarehouseId` (String.t): Warehouse to be replenished. Defaults to the tenant's default warehouse.
    - `:sourceWarehouseId` (String.t): Restrict source warehouses to this id.

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.ReplenishmentResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_replenishments(Tesla.Env.client, keyword()) :: {:ok, SimpleBillyAPI.Model.ReplenishmentResponse.t} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def get_replenishments(connection, opts \\ []) do
    optional_params = %{
      :targetWarehouseId => :query,
      :sourceWarehouseId => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v1/replenishments")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.ReplenishmentResponse},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end
end
