# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Search do
  @moduledoc """
  API calls for all endpoints tagged `Search`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """
  GET /api/v1/search?q=...

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `q` (String.t): Search text (min 2 chars)
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, any()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec global_search(Tesla.Env.client, String.t, keyword()) :: {:ok, any()} | {:error, Tesla.Env.t}
  def global_search(connection, q, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/search")
      |> add_param(:query, :q, q)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false}
    ])
  end

  @doc """
  GET /api/v1/me/permissions — resolved permissions from the auth token, used by the frontend to show/hide admin navigation.

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, any()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec my_permissions(Tesla.Env.client, keyword()) :: {:ok, any()} | {:error, Tesla.Env.t}
  def my_permissions(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/me/permissions")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false}
    ])
  end
end
