# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Stille do
  @moduledoc """
  API calls for all endpoints tagged `Stille`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `year` (integer()): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.StilleExportResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec stille_export_api(Tesla.Env.client, integer(), keyword()) :: {:ok, SimpleBillyAPI.Model.StilleExportResponse.t} | {:error, Tesla.Env.t}
  def stille_export_api(connection, year, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/stille/export")
      |> add_param(:query, :year, year)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.StilleExportResponse}
    ])
  end

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `year` (integer()): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.StilleReport.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec stille_report_api(Tesla.Env.client, integer(), keyword()) :: {:ok, SimpleBillyAPI.Model.StilleReport.t} | {:error, Tesla.Env.t}
  def stille_report_api(connection, year, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/stille/report")
      |> add_param(:query, :year, year)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.StilleReport}
    ])
  end
end
