# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Suitability do
  @moduledoc """
  API calls for all endpoints tagged `Suitability`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `suitability_request` (SuitabilityRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.SuitabilityResult.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec shipping_suitability_api(Tesla.Env.client, SimpleBillyAPI.Model.SuitabilityRequest.t, keyword()) :: {:ok, SimpleBillyAPI.Model.SuitabilityResult.t} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def shipping_suitability_api(connection, suitability_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/v1/shipping/suitability")
      |> add_param(:body, :body, suitability_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.SuitabilityResult},
      {400, SimpleBillyAPI.Model.PluginError},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end
end
