# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Tax do
  @moduledoc """
  API calls for all endpoints tagged `Tax`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """
  Create a tax rate (`admin:settings`).

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `tax_rate_create` (TaxRateCreate): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_tax_rate(Tesla.Env.client, SimpleBillyAPI.Model.TaxRateCreate.t, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def create_tax_rate(connection, tax_rate_create, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/v1/tax-rates")
      |> add_param(:body, :body, tax_rate_create)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {400, false},
      {403, false},
      {409, false}
    ])
  end

  @doc """
  Delete a tax rate by id (`admin:settings`).

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `id` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_tax_rate(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def delete_tax_rate(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/api/v1/tax-rates/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {403, false},
      {404, false}
    ])
  end

  @doc """
  List the calling tenant's tax rates.

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_tax_rates(Tesla.Env.client, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def list_tax_rates(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/tax-rates")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false}
    ])
  end

  @doc """
  Update a tax rate by id (`admin:settings`). Replaces all body fields.

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `id` (String.t): 
  - `tax_rate_create` (TaxRateCreate): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_tax_rate(Tesla.Env.client, String.t, SimpleBillyAPI.Model.TaxRateCreate.t, keyword()) :: {:ok, nil} | {:error, Tesla.Env.t}
  def update_tax_rate(connection, id, tax_rate_create, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/v1/tax-rates/#{id}")
      |> add_param(:body, :body, tax_rate_create)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {400, false},
      {403, false},
      {404, false},
      {409, false}
    ])
  end
end
