# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.TenantSettings do
  @moduledoc """
  API calls for all endpoints tagged `TenantSettings`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.TenantSettings.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_tenant_settings(Tesla.Env.client, keyword()) :: {:ok, SimpleBillyAPI.Model.TenantSettings.t} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def get_tenant_settings(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/settings/tenant")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.TenantSettings},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `update_tenant_settings` (UpdateTenantSettings): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.TenantSettings.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_tenant_settings(Tesla.Env.client, SimpleBillyAPI.Model.UpdateTenantSettings.t, keyword()) :: {:ok, SimpleBillyAPI.Model.TenantSettings.t} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def update_tenant_settings(connection, update_tenant_settings, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/v1/settings/tenant")
      |> add_param(:body, :body, update_tenant_settings)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.TenantSettings},
      {400, SimpleBillyAPI.Model.PluginError},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end
end
