# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.TimeEntries do
  @moduledoc """
  API calls for all endpoints tagged `TimeEntries`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """
  Clock in for the authenticated user (resolved via their employee profile).

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `time_entry_clock_in` (TimeEntryClockIn): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.TimeEntryDto.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec clock_in_time_entry(Tesla.Env.client, SimpleBillyAPI.Model.TimeEntryClockIn.t, keyword()) :: {:ok, SimpleBillyAPI.Model.TimeEntryDto.t} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def clock_in_time_entry(connection, time_entry_clock_in, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/api/v1/time-entries")
      |> add_param(:body, :body, time_entry_clock_in)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {201, SimpleBillyAPI.Model.TimeEntryDto},
      {400, SimpleBillyAPI.Model.PluginError},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end

  @doc """
  Clock out an entry: the entry's owner, or anyone with `time_entries:write`.

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `id` (String.t): 
  - `time_entry_clock_out` (TimeEntryClockOut): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.TimeEntryDto.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec clock_out_time_entry(Tesla.Env.client, String.t, SimpleBillyAPI.Model.TimeEntryClockOut.t, keyword()) :: {:ok, SimpleBillyAPI.Model.TimeEntryDto.t} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def clock_out_time_entry(connection, id, time_entry_clock_out, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/api/v1/time-entries/#{id}")
      |> add_param(:body, :body, time_entry_clock_out)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.TimeEntryDto},
      {400, SimpleBillyAPI.Model.PluginError},
      {403, SimpleBillyAPI.Model.PluginError},
      {404, SimpleBillyAPI.Model.PluginError},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end

  @doc """
  Labor-cost report: worked hours aggregated per employee / order / day, valued at the employee's hourly cost rate.

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `from` (Date.t): 
  - `to` (Date.t): 
  - `group_by` (String.t): One of \"employee\", \"order\" or \"day\".
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%LaborCostRow{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_labor_costs(Tesla.Env.client, Date.t, Date.t, String.t, keyword()) :: {:ok, SimpleBillyAPI.Model.PluginError.t} | {:ok, [SimpleBillyAPI.Model.LaborCostRow.t]} | {:error, Tesla.Env.t}
  def get_labor_costs(connection, from, to, group_by, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/labor-costs")
      |> add_param(:query, :from, from)
      |> add_param(:query, :to, to)
      |> add_param(:query, :group_by, group_by)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.LaborCostRow},
      {400, SimpleBillyAPI.Model.PluginError},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end

  @doc """
  List time entries with optional date-range / active / employee filters.

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:from` (Date.t): 
    - `:to` (Date.t): 
    - `:active` (boolean()): Only currently running shifts (clock_in set, clock_out null).
    - `:employee_id` (String.t): 

  ### Returns

  - `{:ok, [%TimeEntryDto{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_time_entries(Tesla.Env.client, keyword()) :: {:ok, SimpleBillyAPI.Model.PluginError.t} | {:ok, [SimpleBillyAPI.Model.TimeEntryDto.t]} | {:error, Tesla.Env.t}
  def list_time_entries(connection, opts \\ []) do
    optional_params = %{
      :from => :query,
      :to => :query,
      :active => :query,
      :employee_id => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/api/v1/time-entries")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.TimeEntryDto},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end
end
