# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Ustva do
  @moduledoc """
  API calls for all endpoints tagged `Ustva`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `year` (integer()): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.JahresUstErgebnis.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec jahresust_api(Tesla.Env.client, integer(), keyword()) :: {:ok, SimpleBillyAPI.Model.JahresUstErgebnis.t} | {:error, Tesla.Env.t}
  def jahresust_api(connection, year, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/jahresust")
      |> add_param(:query, :year, year)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.JahresUstErgebnis}
    ])
  end

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `zeitraum` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.UstvaErgebnis.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec ustva_api(Tesla.Env.client, String.t, keyword()) :: {:ok, SimpleBillyAPI.Model.UstvaErgebnis.t} | {:error, Tesla.Env.t}
  def ustva_api(connection, zeitraum, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/bookkeeping/ustva")
      |> add_param(:query, :zeitraum, zeitraum)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.UstvaErgebnis}
    ])
  end
end
