# NOTE: This file is auto generated by OpenAPI Generator 7.25.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule SimpleBillyAPI.Api.Workflows do
  @moduledoc """
  API calls for all endpoints tagged `Workflows`.
  """

  alias SimpleBillyAPI.Connection
  import SimpleBillyAPI.RequestBuilder

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%Workflow{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec list_workflows_api(Tesla.Env.client, keyword()) :: {:ok, [SimpleBillyAPI.Model.Workflow.t]} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def list_workflows_api(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/workflows")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.Workflow},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end

  @doc """

  ### Parameters

  - `connection` (SimpleBillyAPI.Connection): Connection to server
  - `workflow_id` (String.t): 
  - `workflow_enabled_update` (WorkflowEnabledUpdate): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, SimpleBillyAPI.Model.Workflow.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec set_workflow_enabled_api(Tesla.Env.client, String.t, SimpleBillyAPI.Model.WorkflowEnabledUpdate.t, keyword()) :: {:ok, SimpleBillyAPI.Model.Workflow.t} | {:ok, SimpleBillyAPI.Model.PluginError.t} | {:error, Tesla.Env.t}
  def set_workflow_enabled_api(connection, workflow_id, workflow_enabled_update, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/api/v1/workflows/#{workflow_id}/enabled")
      |> add_param(:body, :body, workflow_enabled_update)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, SimpleBillyAPI.Model.Workflow},
      {404, SimpleBillyAPI.Model.PluginError},
      {500, SimpleBillyAPI.Model.PluginError}
    ])
  end
end
